@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Lora|VT323|Raleway');

body {
    background: red;
}

* {
  font-family: 'Raleway', sans-serif;
} 

body {
  h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
  } 
}


html, body, app, .full-height {
  height: 100%;
  box-sizing: border-box;
}

app {
    display: block;
}


